* {
    font-family: 'Inconsolata', monospace;
    color: #324B4A;
}

body{
    background-color: white;
}

#sign-in-btn--container{
    text-align: left;
}
#log-in-btn--container{
    text-align: right;
} 

.tab {
    display: none;
}
ul{
    list-style-type: none;
}
.--section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.--link{
    font-size: 4em;
}

.--link:hover{
    cursor: pointer;
}

.primary--link {
    background: linear-gradient( 36deg, rgb(0, 201, 200) 0%, rgb(0, 201, 200) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 100%;
    border: none;
    color: #00C9C8;
    padding: 2.5px;
    text-decoration: none;
    transition: background-size 0.4s ease, color 0.4s ease;
}
.primary--link:hover {
    background-size: 100% 100%;
    color: white;
}

.primary--link {
    background: linear-gradient( 36deg, rgb(0, 201, 200) 0%, rgb(0, 201, 200) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 100%;
    border: none;
    color: #00C9C8;
    padding: 2.5px;
    text-decoration: none;
    transition: background-size 0.4s ease, color 0.4s ease;
}
.primary--link:hover {
    background-size: 100% 100%;
    color: white;
}

.login--link {
    background: linear-gradient( 36deg, rgb(255, 161, 122) 0%, rgba(255, 161, 122) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 100%;
    border: none;
    color: #FFA17A;
    padding: 2.5px;
    text-decoration: none;
    transition: background-size 0.4s ease, color 0.4s ease;
    margin: 0px 5px;
}
.login--link:hover {
    background-size: 100% 100%;
    color: white;
}


.relevant--orange {
    background: linear-gradient(36deg, rgb(255, 161, 122, 0.5) 0%, rgba(255, 161, 122, 0.5) 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: 0% 60%;
    border: none;
    text-decoration: none;
}

.relevant--yellow {
    background: linear-gradient(36deg, rgb(249, 248, 113, 0.5) 0%, rgba(249, 248, 113, 0.5) 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: 0% 60%;
    border: none;
    text-decoration: none;
}
.relevant--yellow-02 {
    background: linear-gradient(36deg, rgb(249, 248, 113, 0.2) 0%, rgba(249, 248, 113, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: 0% 60%;
    border: none;
    text-decoration: none;
}

.relevant--blu {
    background: linear-gradient(36deg, rgb(0, 201, 200, 0.5) 0%, rgba(0, 201, 200, 0.5) 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: 0% 60%;
    border: none;
    text-decoration: none;
}
.relevant--blu-02 {
    background: linear-gradient(36deg, rgb(0, 201, 200, 0.2) 0%, rgba(0, 201, 200, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: 0% 60%;
    border: none;
    text-decoration: none;
}

.blur {
    filter: blur(5px);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.--form-fields{
    margin-bottom: 25px;
}

.error {
    color: white;
    font-weight: bold;
}
.error-in-fields{
    border-bottom: 2px solid #AE2761;
    color: #AE2761;
}

.error--fields{
    font-size: 1em;
    margin: 5px 0px!important;
    border: 1px solid #AE2761;
    background-color: #e6becf;
    border-radius: 5px;
}
.error--fields {
    padding: 5px;
}
.span--error-msg {
    color: #AE2761;
}

.no-visible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #00C9C8;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
}
  
.step.step-active {
    opacity: 1
}


.step-done, .step-passed{
    background-color: #FFA17A;    
    opacity: 1
}

.nextBtn,
#loginBtn {
    font-size: 2em;
}

#logga,#signup{
    font-size: 1.5em;
    float: right
}

h1 {
    color:#00393C;
    text-align: center;
}

label {
    color:#95B1B0;
    font-size: 1.2em
}

.mandatory {
    font-size: 1em;
    color: #AE2761;
    font-weight: 600;
}

small{
    color: #95B1B0;
}

.step--passed{
    background-color: #37D7BB;
}

#top-bar {
    min-height: 10px;
    margin: 15px 1px!important;
    text-align: right!important;
}

#top-bar > p {
    margin: 0px!important;
}

.form-control{
    min-width: 476px;
}

#users-data > p,
.users-data--info  {
    font-size: 2em;
    color: #324B4A;
}

#users-data > ul > li {
    color:#95B1B0;
    font-size: 1.2em
}

@keyframes stepAnimatedColor {
    0% {
        background-color: #00C9C8; 
        opacity:0.2;  
    }
    100% {
        background-color: #FFA17A;   
        opacity:1;
    }
}

.step-done, .step-passed{
    animation: 600ms ease-out 0s 1 stepAnimatedColor;
}

/* Small devices (landscape phones, 576px and up) && Medium devices (tablets, 768px and up) */
@media screen and (min-width: 320px) and (max-width: 570px){
    * {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }
    body {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }

    h1 {
        font-size: 3.5em;
    }
    
    #steppers {
        text-align:center;
        margin-bottom: 25px;
    }
    .step {
        height: 25px;
        width: 25px;
        margin: 10px;
    }
    .form-group, .form-control  {
        font-size: 1.2em;
    }
    
    label {
        font-size: 1.5em;
        margin-top: 2%;
    }

    .tab {
        margin-top: 5%;
    }
        
    .nextBtn,
    #loginBtn{
        font-size: 3em;
        text-align: center;
    }
    #logga,#signup{
        font-size: 1.5em;
    }
      
    @keyframes slideInFromRight {
        0% {
            transform: translateX(200%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInFromRightBtn {
        0% {
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideOutToLeft {
        0% {
            transform: translateX(-100);
        }
        100% {
            display: none;
            transform: translateX(-300%);
        }
    }


    .moving--next{
        animation: 1200ms ease-out 0s 1 slideInFromRight;
    }

    .moving--prev{ 
        display:none;
        animation: 600ms ease-out 0s 1 slideOutToLeft;
    }

    .moving--next-btn{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }
    .moving--next-input{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }

    
    .nextBtn--continer,
    #loginBtn--container {
        text-align: center;
    }

    .counter, #email-password--btn, #name-surname--btn, #phone--btn{
        display: none!important;
    }

}


/* Small devices (landscape phones, 576px and up) && Medium devices (tablets, 768px and up) */
@media screen and (min-width: 570px) and (max-width: 768px){
    * {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }
    body {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }
    h1 {
        font-size: 3.5em;
    }
    #steppers {
        text-align:center;
        margin-bottom: 25px;
    }
    .step {
        height: 25px;
        width: 25px;
        margin: 10px;
    }
    .form-group, .form-control  {
        font-size: 1.3em;
    }
    
    label{
        font-size: 1.1em;
        margin-top: 2%;
    }

    .tab {
        margin-top: 5%;
    }
        
    .nextBtn--continer,
    #loginBtn-container {
        text-align: center;
    }
    .nextBtn,
    #loginBtn {
        font-size: 3em;
    }
    #logga,#signup{
        font-size: 1.5em;
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(200%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInFromRightBtn {
        0% {
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideOutToLeft {
        0% {
            transform: translateX(-100);
        }
        100% {
            display: none;
            transform: translateX(-300%);
        }
    }


    .moving--next{
        animation: 1200ms ease-out 0s 1 slideInFromRight;
    }

    .moving--prev{ 
        display:none;
        animation: 600ms ease-out 0s 1 slideOutToLeft;
    }

    .moving--next-btn{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }
    .moving--next-input{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }

    
    .nextBtn--continer,
    #loginBtn--container {
        text-align: center;
    }

    
    .counter, #email-password--btn, #name-surname--btn, #phone--btn{
        display: none!important;
    }
}

@media screen and ( min-width: 768px ) and ( max-width: 989px ){
    * {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }
    body {        
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }

    h1 {
        font-size: 3.5em;
    }
    #steppers {
        text-align:center;
        margin: 25px 0px;
    }
    .step {
        height: 25px;
        width: 25px;
        margin: 0% 4%;
    }
    .form-group, .form-control  {
        font-size: 1.4em;
    }
    
    label{
        font-size: 1.2em;
        margin-top: 2%;
    }
        
    .nextBtn--continer, 
    #loginBtn-container{
        text-align: center;
    }
    .nextBtn,
    #loginBtn{
        font-size: 3em;
    }
    #logga,#signup{
        font-size: 1.5em;
    }
      
    @keyframes slideInFromRight {
        0% {
            transform: translateX(200%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInFromRightBtn {
        0% {
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideOutToLeft {
        0% {
            transform: translateX(-100);
        }
        100% {
            display: none;
            transform: translateX(-300%);
        }
    }


    .moving--next{
        animation: 1200ms ease-out 0s 1 slideInFromRight;
    }

    .moving--prev{ 
        display:none;
        animation: 600ms ease-out 0s 1 slideOutToLeft;
    }

    .moving--next-btn{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }
    .moving--next-input{
        animation: 1200ms ease-out 0s 1 slideInFromRightBtn;
    }

    
    .nextBtn--continer,
    #loginBtn--container {
        text-align: center;
    }

    
    .counter, #email-password--btn, #name-surname--btn, #phone--btn{
        display: none!important;
    }
}

/* Large devices (desktops, 992px and up) && Extra large devices (large desktops, 1200px and up)  */
@media only screen and (min-width: 989px) {

    h1 {
        font-size: 3.5em;
    }

    #left-progress-bar{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

    #steppers {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
    }

    .step {
        height: 25px;
        width: 25px;
        margin: 15px 0px;
    }

    #signup--form,
    #users-data,
    #login--form {        
        padding: 25px;
        background-color: white;
        border-radius: 5px;
        min-height: 500px;
        min-width: 750px;
        max-width: 750px;
        box-shadow: 0px 0px 13px 0px #523f690d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;

    }

    #signup--fields{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .nextBtn--continer,
    #loginBtn--container {
        text-align: right;
    }

    /*  QUIII */
    #steppers--container{
        display: none;
    }
    .tab--step{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(0, 201, 200, 0.1);
        padding: 10px 0px;
        filter: blur(1px);
    }
    .number-counter{
        font-size: 3em;
        border-radius: 50%;
        text-align: center;
    }
    #generalNextBtn{
        display: none;
    }
    .moving--next{
        filter: none!important;
    }
}

  
